	<!--- Navbar --->
	<nav class="navbar z-depth-1 mb-3 navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand text-white" href="{% url 'homepage' %}">
                CodeTopia
            </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="nvbCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item pl-1">
						<a class="nav-link" href="{% url 'blog:blog_homepage' %}"></i>Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_autheticated %}
                                <a class="dropdown-item" href="{% url 'account:user_dashboard' %}">Dashboard</a>
                                <a class="dropdown-item" href="{% url 'account:user_logout' %}">Logout</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'account:user_login' %}">Login</a>
                                <a class="dropdown-item" href="{% url 'account:create_user' %}">Sign up</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
				</ul>
			</div>
		</div>
	</nav>
    <!--# Navbar #-->