{% extends 'base/base.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<div class="container">
    <div class="card z-depth-5">
        <div class="card-body">
            <h3 class="card-title">Login</h3>
            <hr>
            <form action="{% url 'account:user_login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">{{ form.username.label_tag }}</label>
                    {{ form.username }}
                    <small id="emailHelp" class="form-text text-muted">{{ form.username.help_text }}</small>
                </div>
                <div class="form-group">
                    <label for="id_password">{{ form.password.label_tag }}</label>
                    {{ form.password }}
                    <small id="emailHelp" class="form-text text-muted">{{ form.password.help_text }}</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me.</label>
                </div>
                <div class="form-group">
                    <small>Forgot password? <a href="{% url 'account:user_password_reset' %}">reset here</a></small>
                </div>
                <button class="btn login-btn btn-primary" type="submit"> <span>Login</span> </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}