// Forms
// Form related sass properties
// --------------------------------------------------------------------

// Forms
.form-control {
    border-radius: 0 !important;
    transition: all ease-in-out .3s !important;

    &:focus{
        box-shadow: none;
        border-color: $form-focus-color;
        border-left: 5px $primary solid;
    }
}
.errorlist {
    color: red !important;
    letter-spacing: .08em;
}